.App {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.outer-container {
  overflow-x: hidden;
  overflow-y: hidden;
}
  
html, body {
  width: 100%;
  height: 100%;
  background-color: #F7F7F2;
}

img {
  border-radius: 5px;
}

.grid-container {
  padding-bottom: 20px;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.1s;
  border-radius: 5px; /* 5px rounded corners */
  position: relative;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.35);
}

.card:active {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.35);
  transform: scale(0.9);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 8px;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.container > h4 {
  color: #F7F7F2;
  display: block;
  margin-bottom: 4px;
}

.container > p {
  color: #F7F7F2;
  display: block;
}